<head>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

</head>
<body>
  <p>Canvas duplicating the yellow div below</p>
  <div id="capture" style="padding: 10px; background: #f5da55">
    <h4 style="color: #000; ">Hello world!</h4>
</div>
<br>
<br>
<button>Save</button>
<script src="index.js"></script>
</body>
